.card-group-style {
    height: 36rem;
}



@media screen and (max-width:1178px) and (min-width: 1024px) {
    .card-group-style {
        height: 39rem;
    }
}

@media screen and (max-width:772px) and (min-width: 700px) {
    .card-group-style {
        height: 38rem;
    }
}

@media screen and (max-width:367px) {
    .card-group-style {
        height: 39rem;
    }
}