.latest-perfume {
    margin-top: 4rem;
}

.latest-perfume h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.carouselItem {
    width: 50%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.latest-perfume-image {
    background-repeat: no-repeat;
    background-size: cover;
}