.inventory-detail-card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.inventory-detail-image {
    width: 80%;
    margin: 2rem;
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .inventory-detail-image {
        width: 100%;
        margin: 0px;
    }
}